table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

div {
    width: 900px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/pingus.jpg);
    background-size:cover;
    display: flex;
    justify-content: center;
}

table {
    width: 700px;
    height: 50px;
    margin-top: 250px;
}

thead td {
    background-color: white;
}

td {
    background-color: #FFFE96;
}