#list_spain li{
    list-style: lower-alpha;
}

#list_eeuu li{
    list-style: upper-roman;
    list-style-position: inside;
}

#list_eeuu li p {
    margin: 0;
    padding-left: 20px;
    display: inline;
}

#list_eeuu li:first-child p {
    padding-left: 27px;
}